::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #161B22;
  border-radius: 5px;
  width: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #373737;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2b2b2b;
}